{% extends 'layout.html' %}

{% block title %}{{title}} {%endblock%}

{% block head %}
{% endblock %}

{% block content %}
<div class="page" id="page2">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="/index">
            <span class="icon icon-left"></span>
            返回
        </a>
        <button class="button button-link button-nav pull-right" onclick="checkForm()">
            下一步
            <span class="icon icon-right"></span>
        </button>
        <h1 class="title">请填写邀请时间</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item back" href="/index">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
    </nav>
    <div class="content">
        <!--时间-->
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label" style="width: 5rem">选择日期</div>
                            <div class="item-input" style="width: 12rem;">
                                <!--<input type="text" id="day"  placeholder="选择日期" data-toggle='date' readonly="readonly" style="text-align:center"/>-->
                                <input id="day" type="date" style="text-align:center;">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner" style="width:100%">
                            <div class="item-title label" style="width: 5rem">选择时间段</div>
                            <div class="item-input"  style="width: 4rem">
                                <input type="time" id="time1"  placeholder="选择时间" style="text-align:center"  onchange="time1Change(this.value)">
                            </div>
                            <div class="item-title label"  style="width: 1rem">
                                到
                            </div>
                            <div class="item-input"  style="width: 4rem">
                                <input type="time" id="time2" placeholder="选择时间" style="text-align:center"  onchange="time2Change(this.value)">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner" style="width:100%">
                            <div class="item-title label" style="width: 5rem">选择地点</div>
                            <div class="item-input"  style="width: 12rem">
                                <a href="#page3"><input type="text" id="address" data-id=""  placeholder="选择地点" disabled="disabled" style="text-align:center"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page" id="page3">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/index">
            <span class="icon icon-left"></span>
            返回
        </a>
        <a class="button button-link button-nav pull-right " href="#page2" onclick="changeAddress()">
            地点待定
            <span class="icon icon-right"></span>
        </a>
        <h1 class="title">请选择地点</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" href="/index">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
    </nav>
    <!--餐厅列表-->
    <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
            <div class="list-block">
                <ul class="list-container">

                </ul>
            </div>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader" style="margin-top:-20px">
                <div class="preloader"></div>
            </div>
    </div>
</div>

<div class="page" id="page4">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/index">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">地图</h1>
    </header>
    <div class="content" id="container" data="{{id}}">
    </div>
</div>

<div class="page" id="page5">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
            返回
        </a>
        <button class="button button-link button-nav pull-right">
            分享
            <span class="icon icon-right"></span>
        </button>
        <h1 class="title">分享给好友吧</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" href="/index">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
    </nav>
    <div class="content" id="share">
        <div id="info"></div>
        <div id="mask"></div>
    </div>
</div>
{% endblock %}