{% extends 'layout.html' %}

{% block title %}{{title}} {%endblock%}

{% block head %}

{% endblock %}

{% block content %}
<!--首页-->
<div class="page page-current" id="page6">
    <header class="bar bar-nav">
        <img class="head-img pull-left" src="{{wx_user.headimgurl}}">
        <h1 class="title">报名页</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item active" href="/index">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
    </nav>

    <div class="content" id="sign" data-inviteInfo-address="{{inviteInfo.address}}" data-inviteInfo-day="{{inviteInfo.day}}" data-inviteInfo-time1="{{inviteInfo.time_begin}}" data-inviteInfo-time2="{{inviteInfo.time_end}}">
        <!-- 这里是页面内容区 -->
        <div style="font-size:15px;text-align:center;padding:10px">您的好友 “{{inviteUser.nickname}}” 邀请您一伙锅去！</div>
        <div id="info"></div>
        <div id="personGroup"></div>
    </div>
</div>

<div class="page" id="page7">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">地图</h1>
    </header>
    <div class="content" id="container" >
    </div>
</div>
{% endblock %}