body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu-a
{
  display:block;
    text-align:center;
    min-width:60px;
}
.menu-img {
    border-radius: 50%;
    width:50%;
    height:50%;
}
.menu-text {
    width:100%
}
.head-img
{
    border-radius: 50%;
    height:40px;
    width:40px;
}

.view footer {
  background: #f8f8f8;
  color: black;
  border-top: 1px solid #c8c7cc;
  box-shadow: none;
}

/*以下为修改sui mobile样式*/
/*.list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block select, .list-block textarea{
    border:1px solid #92CAE0;
    border-radius:5px;
    height:1.5rem;
}*/
.list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block select, .list-block textarea{
    border-bottom:1px solid #92CAE0;
}
.list-block ul{
    background:rgba(0,0,0,0);
}
.list-block li li:last-child .item-inner:after, .list-block li:last-child li .item-inner:after{
    display:none;
}

.card a{
    color:black;
}
.card-header:after{
    /*display:none;*/
}

.list-block ul:before{
    display:none;
}
.list-block ul:after{
    display:none;
}
.card-header{
    /*border-bottom:1px solid #e1e1e1;*/
}
.list-block .item-inner:after{
    display:none;
}

.actions-modal-button.color-success{
   color: #4cd964;
}